.event-title{
    width: 100%;
    text-align: center;
    color: #78900E;
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    line-height: 110.9%; /* 15.526px */
    letter-spacing: 0.07px;
}

.event-title div{
    width: 100%;
    height: 4px;
    background-color: #78900E;
    margin-top: 10px;
    border-radius: 10px;
}

.title-associado-2{
    color: #2D2C2C;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 91.9%; /* 13.785px */
    letter-spacing: 0.075px;
    border-bottom: 1px solid rgb(224, 224, 224);
    padding-bottom: 11px;
    margin-bottom: 11px;
    margin-top: 6px;
}