.all-content-page{
    width: 200%;
    background-color: aqua;
    height: 100px;
    display: flex;
    position: absolute;
    transition: .3s;
}

.content-1{
    background-color: blue;
    width: 50%;
    height: 100px;

    transition: .3s;
}

.content-2{
    background-color: rgb(0, 0, 78);
    width: 50%;
    height: 100px;

    transition: .3s;
}