section#app div#appContainer {
  display: flex;
}

section#app div#appContainer div#appText {
  flex-grow: 1;
  text-align: start;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

section#app div#appContainer div#appText ul {
  list-style: none;
}

section#app div#appContainer div.appBadges {
  display: flex;
  padding-left: 40px;
  margin-top: auto;
  margin-bottom: 4rem;
}

section#app div#appContainer div.appBadges div.appBadge {
  width: 150px;
  height: 50px;
}

section#app div#appContainer div.appBadges div.appBadge:last-child {
  margin-left: 1rem;
}

section#app div#appContainer div.appBadges div.appBadge a {
  height: 100%;
  width: 100%;
  display: inline-block;
}

section#app div#appContainer div.appBadges div.appBadge img {
  width: 100%;
  height: 100%;
}

section#app div#appContainer div#appImgContainer img {
  border: solid #000 5px;
  border-radius: 1rem;
  width: 70%;
}

section#app div#appContainer div.appMobile {
  display: none;
}

section#wannaBeAssociate {
  margin-top: 1rem;
}

section#wannaBeAssociate div#wbaContainer {
  position: relative;
  width: 100%;
  height: 30rem;
}

section#wannaBeAssociate div#wbaContainer div#wbaBackground img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  filter: blur(5px);
}

section#wannaBeAssociate div#wbaContainer div#wbaText {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

section#wannaBeAssociate div#wbaContainer div#wbaText div {
  margin: auto 0;
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  background-color: #b5b5b554;
}

section#wannaBeAssociate div#wbaContainer div#wbaText div h2 {
  font-size: xx-large;
  color: white;
}

section#wannaBeAssociate div#wbaContainer div#wbaText div button {
  padding: 1rem 2rem;
  border: solid #e30613 5px;
  border-radius: 5px;
  background-color: #e30613;
  color: white;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  transition: all 300ms;
}

section#wannaBeAssociate div#wbaContainer div#wbaText div button:hover {
  background: none;
  color: #e30613;
  transition: all 300ms;
}
section#wannaBeAssociate div#wbaContainer div#wbaText div h2 {
  margin-top: 0;
}

@media (max-width: 991px) {
  section#app div#appContainer {
    display: block;
  }

  section#app div#appContainer div#appText {
    margin: 0 1rem;
  }

  section#app div#appContainer div#appText div.appBadges {
    display: none;
  }

  section#app div#appContainer div.appMobile {
    display: flex;
    padding-left: 0;
    justify-content: center;
    margin-top: 1rem;
  }

  section#app div#appContainer div#appImgContainer {
    display: flex;
    justify-content: center;
  }
}
