.carousel-div{
    border-radius: 13px;
    max-height: 350px;
    width: 100%;
    height: 85%;
    margin-top: 25px;
}

.carousel-img{
    width: 100%;
    object-fit:cover;
    height: 100%;
    aspect-ratio: 1/0.85;
}

