/* 
section#aboutUs > div {
  display: flex;
}

section#aboutUs div#textLeft {
  position: relative;
  width: 40%;
  justify-content: center;
}

section#aboutUs div#textLeft div {
  margin: 0 1rem;
  position: absolute;
  top: 50%;
  text-align: center;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

section#aboutUs div#imageRight {
  width: 60%;
}

section#aboutUs div#imageWrapper {
  height: 600px;
}

section#aboutUs div#imageWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
*/

section#aboutUs {
  height: 80vh;
}

section#aboutUs div#textMiddle {
  text-align: center;
  padding: 10rem 25%;
}

section#aboutUs div#textMiddle h1 {
  animation-name: colorTitle;
  animation-duration: 3000ms;
}
/* IMAGE */
/* 
section#aboutUsImage{
  position: relative;
  height: 70vh;
  width: 100%;
}

section#aboutUsImage:focus {
  height: 100rem;
}

section#aboutUsImage div#imageWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

section#aboutUsImage div#imageWrapper img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

section#aboutUsImage div#imageShadowBottom {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 10px -200px 70px -70px #000000bf;
}

section#aboutUsImage div#imageTextOverlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  color: #ffffff;
  text-align: center;
}
 */
/* END IMAGE */

section#ourValues {
  margin-top: 2rem;
}

section#ourValues div#valuesWrapper {
  display: flex;
}

section#ourValues div#valuesWrapper > div {
  width: 33.33%;
  padding: 1rem;
  border-right: solid #98b126 2px;
}

section#ourValues div#valuesWrapper > div:last-child {
  border: none;
}

section#ourValues div#valuesWrapper > div h3 {
  text-align: center;
}

@media (max-width: 991px) {
  section#aboutUsImage div#imageWrapper {
    height: 70vh;
  }

  section#ourValues div#valuesWrapper {
    justify-content: center;
    flex-flow: row wrap;
  }

  section#ourValues div#valuesWrapper > div {
    width: 80%;
    border-right: none;
    border-bottom: solid #98b126 2px;
  }
}

@keyframes colorTitle {
  25% {
    color: #98b126;
  }
  50% {
    color: #e30613;
  }
  100% {
    color: black;
  }
}
