.cityFilter-div{
    height: 125px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: 0;
    max-width: 700px;
    width: 100%;
}

.city-img{
    max-width: 700px;
    width: 100%;
    height: 125px;
    object-fit: cover;
    background-color: #000;
    transition: ease-in .4s;
    position: absolute;
}

.selected {
    opacity: 1;
}

.not-selected{
    opacity: 0;
}


.img-background{
    max-width: 700px;
    width: 100%;
    height: 125px;
    position: absolute;
    background-color: rgb(0, 0, 0);
}

.cityFilter-div button{
    background-color: white;
    position: absolute;
    margin-bottom: 28px;
    border: none;
    padding: 10px 19px;
    border-radius: 6px;
    color: #2F2F2F;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.065px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.popup-background{
    max-width: 700px;
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.479);
    z-index: -1;
    opacity: 0;
    transition: .4s;
}

.city-popup{
    max-height: 43vh;
    max-width: 700px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: -1;
    bottom: -40vh;
    border-radius: 25px 25px 0px 0px;
    transition: .4s ease;
    padding: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.cities-button-div p{
    margin: 0 ;
    font-size: 16px;
    text-align: center;
    border-bottom: 1px solid rgb(236, 236, 236);
    padding: 17px 0;
    font-weight: 600;
    width: 100%;
    color: #2F2F2F;
}

.cities-button-div p:last-child{
    margin-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.rota-button{
    text-align: center;
    background-color: #96B025;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    border-radius: 8px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 4px;
}

.cities-button-div{
    background-attachment: red;
    overflow-y: scroll;
    box-sizing: border-box;
    max-height: calc(43vh - 75px);
}

.city-header-container{
    padding: 0;
}