.splashScreen_background{
    background-color: #E3121D;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 4;
}

.splashScreen_background div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.splashScreen_background p{
    color: white;
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin: 0;
    margin-bottom: 15px;
}

.splashScreen_background img{
    width: 75%;
    height: auto;
}