section#loaderContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section#loaderContainer .loader {
  border: 12px solid #dfdfdf;
  border-radius: 50%;
  border-top: 12px solid #98b126;
  width: 3rem;
  height: 3rem;
  animation: spin 1500ms linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
