footer {
    /* background-color: #dbdbdb; */
    background-color: #efefef;
}

footer div#paddingAll {
    padding: 2rem;
}

footer div#rotaIcon {
    display: flex;
    justify-content: flex-start;
}

footer div#rotaIcon img {
    max-width: 150px;
}

footer div#rotaIcon img#rotaDesenho {
    max-height: 50px;   
}

footer img.icon {
    max-width: 1.5rem;
}

footer p.tittleContact {
    margin-bottom: 0.5rem;
}

footer div.row {
    display: flex;
    margin-top: 0;
    margin-bottom: 8px;
}

footer div.row >:last-child {
    margin-right: auto;
}

footer p {
    margin: 0;
}

footer div#contact {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

footer div#contact a {
    text-decoration: none;
    color: black;
}

footer div#contact p.textWithIcon {
    margin-left: 0.5rem;
}

footer div#contact div.greenFilter,
footer div#contact div.redFilter {
    transition: all 1s ease-out;
}

footer div#contact div.greenFilter:hover {
    filter: invert(53%) sepia(79%) saturate(402%) hue-rotate(30deg) brightness(104%) contrast(89%);
    transition: filter .3s ease;
}

footer div#contact div.redFilter:hover {
    filter: invert(12%) sepia(85%) saturate(6176%) hue-rotate(352deg) brightness(88%) contrast(104%);
    transition: filter .3s ease;
}

footer div#contact > div {
    align-items: end;
}

footer div#subContact {
    background-color: #dfdfdf;
    text-align: center;
    padding: 0.5rem 0;

}

@media (max-width: 991px) {
    footer div#paddingAll {
        padding: 1rem 1.5rem;
    }

    footer div#rotaIcon {
        justify-content: center;
    }

    footer div#contact {
        display: inline;
        justify-content: left;
    }

    footer div#contact>div {
        margin-bottom: 1rem;
        border-bottom: solid #98b126 2px;
    }

    footer div#contact>div:last-child {
        border-bottom: none;
    }

}