rotaIconfooter {
  /* background-color: #dbdbdb; */
  background-color: #efefef;
}

footer div#paddingAll {
  padding: 2rem;
}

footer div#rotaIcon {
  display: flex;
  justify-content: center;
}

footer div#rotaIcon img {
  max-width: 150px;
}

footer div#rotaIcon img#rotaDesenho {
  max-height: 50px;
}

footer p.tittleContact {
  margin-bottom: 0.5rem;
}

footer div.row {
  display: flex;
  margin-top: 0;
  margin-bottom: 8px;
}

footer div.row > :last-child {
  margin-right: auto;
}

footer p {
  margin: 0;
}

footer div#contact {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
}

footer div#contact a {
  text-decoration: none;
  color: black;
}

footer div#contact p.textWithIcon {
  margin-left: 0.5rem;
}

footer div#contact div.greenFilter,
footer div#contact div.redFilter {
  transition: all 300ms ease-out;
}

footer div#contact div.redFilter:hover {
  filter: invert(12%) sepia(85%) saturate(6176%) hue-rotate(352deg)
    brightness(88%) contrast(104%);
  transition: filter 0.1s ease;
}

footer div#contact > div {
  align-items: end;
}

@media (max-width: 991px) {
  footer div#paddingAll {
    padding: 1rem 1.5rem;
  }

  footer div#rotaIcon {
    justify-content: center;
  }

  footer div#contact {
    display: inline;
    justify-content: left;
  }

  footer div#contact > div {
    margin-bottom: 1rem;
    border-bottom: solid #98b126 2px;
  }

  footer div#contact > div:last-child {
    border-bottom: none;
  }
}
