.all-content-page{
    width: 200%;
    height: 100%;
    display: flex;
    position: absolute;
    transition: .3s;
    transform: translateX(0%);
}

.content-1, .content-2{
    width: 100%;
    height: calc(100% - 158px);
    padding: 10px 25px 25px 25px;
    overflow: scroll;
}

.content-1{
    padding-top: 0;
}

.title-associado:first-child{
    margin-top: 23px;
}

.open-button{
    border-radius: 6px;
    background: #008CA6;
    padding: 7px;
    align-items: center;
    display: inline-block;
}

.open-button div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.open-button p, .category-button p  {
    color: #FFF;
    font-size: 12.4px;
    font-style: normal;
    display: inline;
    font-weight: 700;
    line-height: 91.9%; /* 9.558px */
    letter-spacing: 0.052px;
    margin: 0;
    margin-left: 5px;
    padding-right: 4px;
}

.category-button{
    border-radius: 6px;
    padding: 6px 8px 8px 7px;
    display: inline-block;
    margin-right: 8px;
}

.sobre-nos{
    color: #5a5a5a;
    text-align: justify;
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    letter-spacing: -0.12px;
    margin: 0;
}